@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox {
  background-color: var(--toolbar-background-color);
}

/* reorder toolbars */
#navigator-toolbox #nav-bar {
  order: 0;
}
#navigator-toolbox #TabsToolbar {
  order: 2;
}
#navigator-toolbox #PersonalToolbar {
  order: 3;
}
#navigator-toolbox #notifications-toolbar {
  order: 4;
}

/* disable unwanted borders and shadows */
.tab-background {
  box-shadow: unset !important;
}
#navigator-toolbox,
#navigator-toolbox > * {
  border: 0 !important;
}
#tabbrowser-tabbox {
  .browserContainer {
    box-shadow: none !important;
    outline: 0 !important;
  }
}

/* slimmer tabs */
*|*:root {
  --tab-min-height: 30px !important;
  --tab-margin-block: 0px !important;
}

/* expand tabs to fill the tab bar */
#tabbrowser-tabs[orient="horizontal"] {
  --tab-max-width: 100% !important;
}
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[fadein]:not([pinned]) {
  transition: max-width 100ms linear !important;
}

/* center tab content */
.tab-icon-stack {
  margin-left: auto !important;
}
.tab-content {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}
.tab-label-container {
  flex: 0 !important;
  margin-right: auto !important;
  max-width: min-content !important;
}
#tabbrowser-tabs[orient="horizontal"] .tab-close-button {
  padding-inline-start: var(--tab-close-button-padding) !important;
  width: 24px !important;
}

/* only show the close button on active or hovered tabs */
#tabbrowser-tabs[orient="horizontal"]
  .tabbrowser-tab:not([selected], [multiselected], :hover, :focus-within)
  .tab-close-button {
  visibility: hidden !important;
}

/* hide the tab bar when a single tab is open */
#TabsToolbar:has(#tabbrowser-tabs tab):not(
    :has(
      #tabbrowser-tabs
        :is(tab, tab-group, tab-split-view-wrapper)
        ~ :is(tab, tab-group, tab-split-view-wrapper)
    ),
    :has(#pinned-tabs-container tab):has(#tabbrowser-arrowscrollbox tab)
  ) {
  visibility: collapse !important;
}

/* match toolbar horizontal paddings */
*|*:root {
  --toolbar-padding-inline: var(--dimension-4) !important;
}
#navigator-toolbox #TabsToolbar,
#navigator-toolbox #PersonalToolbar {
  padding-inline: var(--dimension-2) !important;
}

#navigator-toolbox #nav-bar #urlbar-container {
  --urlbar-container-height: 32 !important;
  padding-block: 0;
}

/* match vertical gaps */
#navigator-toolbox #nav-bar,
#TabsToolbar,
#navigator-toolbox #PersonalToolbar {
  margin-top: var(--dimension-4);
}
#navigator-toolbox #PersonalToolbar toolbarbutton {
  margin-block: 0 !important;
}

#navigator-toolbox {
  padding-bottom: var(--dimension-4);
}
